
<ion-view title="Cart">


  <ion-header-bar>
 

  <div class="buttons">
   <div class="buttons">  
	 <button class="icon ion-android-arrow-back button-clear" style="color:red;font-size:20px;" ng-click="backCheckOut()"></button>
  </div>
    <h1 class="title">Cart</h1>
<!--	
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
-->	
  </div>

  </ion-header-bar>
 
  <ion-content>
  <div class="list card">
  
	      <div class="row row-bottom">
				 <div class="col col-50">
						   <div class="item item-avatar list-purple " >
							<img src="../img/page1_img1.jpg">
							<p>Marty McFly</p>
							<p>$5.50</p>
						  </div>
				</div>		  
			  <div class="col col-offset-10" style="padding-bottom: 1cm;">2</div>
			   <div class="col col-offset-10" style="padding-bottom: 1cm;">$7.00</div>
		 </div>
		
		 <div class="row row-bottom " >
				 <div class="col col-50">
						   <div class="item item-avatar list-top"  >
							<img src="../img/page2_img2.jpg">
							<p>Marty McFly</p>
							<p>$5.50</p>
						  </div>
				</div>		  
			  <div class="col col-offset-10" style="padding-bottom: 1cm;">3</div>
			   <div class="col col-offset-10" style="padding-bottom: 1cm;">$34.00</div>
		 </div>
		 	 
		 <div class="row row-bottom" >
				 <div class="col col-50">
						   <div class="item item-avatar list-top" >
							<img src="../img/page2_img5.jpg">
							<p>Marty McFly</p>
							<p>$5.50</p>
						  </div>
				</div>		  
			  <div class="col col-offset-10" style="padding-bottom: 1cm;">7</div>
			   <div class="col col-offset-10" style="padding-bottom: 1cm;">$6.00</div>
		 </div>
  </div>
  
  <div class="row" style="padding-left: 1cm;">
   <div class="col  col-offset-10"></div> <div class="col col-offset-33 myfont">Sub Total</div> <div class="col">$124.50</div>
   </div>
   
   <div class="row" style="padding-left: 1cm;">
    <div class="col col-offset-10"></div><div class="col col-offset-33 myfont">Tax</div> <div class="col">$24.50</div>
   </div>
   
     <div class="row" style="padding-left: 1cm;">
       <div class="col col-offset-10"></div> <div class="col col-offset-33 myfont">Total</div> <div class="col">$150.50</div>
     </div>	

  </ion-content>
</ion-view>
