<ion-nav-bar>
 <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>


<ion-view view-title="Menu">
  <ion-content>
  
      <ion-item ng-repeat="result in results" class="no-seperator">
	  <p>
        <b> {{result.categoryDesc}}</b>
	  </p>
	  
		 <ion-item ng-repeat="menu in result.menuItems" class="my-item">
			 <a href="#/app/menuitems/{{menu.itemId}}"><img src="{{menu.imageUrl}}"/></a>
			 <p>
			 {{menu.itemName}} 
			 </p>
			 <p>
			 {{menu.itemDesc}}
			 </p></br>
			 <p><b>${{menu.rate}}</b>
			 <span class="ddd"><button class="button  button-small button-assertive add-button" ng-click="addItem(menu.itemId,menu.rate)"> Add </button></span></p>	
			 <br/>
		 </ion-item>
	</ion-item>
    
  </ion-content>
</ion-view>
