<ion-view>

 <ion-header-bar class="bar bar-header bar-assertive">
  
   
    <h1 class="title"></h1>
	
    <div class="buttons">
      <button class="button button-clear" ng-click="cancelEmail()">Close</button>
    </div>
	
</ion-header-bar>	
  <ion-content>
    <div class="card">
  <div class="item item-divider">
    Do You Need Help
  </div>
  <div class="item item-text-wrap">
    Pls Wait....
  </div>
  <div class="item item-divider">
    I will be comming Soon...
  </div>
</div>
  </ion-content>
</ion-view>
