<ion-view title="">

  <ion-header-bar >
  
    <div class="buttons">
      <button class="button button-clear" ng-click="cancelEmail()">cancel</button>
    </div>
  
    <h1 class="title"></h1>
	
    <div class="buttons">
      <button class="button button-clear" ng-click="sendEmail()">send</button>
    </div>
	
	
  </ion-header-bar>
 
  <ion-content>
    <div class="list">
	<label class="item item-input">
		<span class="input-label">Subject</span>
		<input type="text" value="Place Order">
	</label>
	<label class="item item-input">
		<span class="input-label">To</span>
		<input type="text" value="support@ffc.com">
	</label>
	<label class="item item-input">
		<span class="input-label">CC</span>
		<input type="text">
	</label>
	<label class="item item-input">
		  <textarea style="resize: none;height: 300px;">&#13;&#10;&#13;&#10;&#13;&#10;sent from Iphone</textarea>
	</label>
	
  </div>
  </ion-content>
</ion-view>
