<!DOCTYPE html>
<html lang="en">
<head>
 

</head>

<body>
 
  <!--=====================
  Content
  ======================-->
  <section class="content">
    <div class="container">
      <div class="row">
        <div class="grid_8">
          <h2>Your Orders</h2>
          <div ng-repeat="cart in coresults.itemsObj">
          <div class="extra_wrapper">
            <img src="{{cart.imageUrl}}" alt="" class="img_inner fleft inn__1">
            <div class="text1 tx__1">
              <a href="#">{{cart.itemName}} </a>
              <a href="#" class="icon_size pull-right"><i class="fa fa-trash-o"></i></a>              
            </div>
            <p>{{cart.description}}</p>
          </div>
        
           <hr class="devider"/>
           </div>
          </div>

        <div class="grid_4">
          <h2>Give your Address and Order</h2>
          <div class="form_title color1">
            We are open 7 days a week - 8 AM to 12 PM <br>+1 101 889 9898</div>
            <form id="bookingForm">
              <div class="tmInput">
                <input name="FirstName" placeHolder="First Name" style="width:176px;margin-right: 9px;" type="text" data-constraints="@NotEmpty @Required @FirstName">
                <input name="LastName" placeHolder="Last Name" style="width:176px;" type="text" data-constraints="@NotEmpty @Required @LastName">
              </div>
              <div class="tmInput">
                <input name="Email" placeHolder="Email" type="text" data-constraints="@NotEmpty @Required @Email">
              </div>
              <div class="tmInput">
                <input name="Address" placeHolder="Address" type="text" data-constraints="@NotEmpty @Required @Address">
              </div>
              <div class="tmInput">
                <input name="Apt" placeHolder="Suite/Apartment" style="width:230px;margin-right: 9px;" type="text" data-constraints="@NotEmpty @Required @Apartments">
                <input name="City" placeHolder="City" style="width:122px;" type="text" data-constraints="@NotEmpty @Required @City">
              </div>
              <div class="tmInput">
                <input name="State" placeHolder="State" style="width:135px;margin-right: 9px;" type="text" data-constraints="@NotEmpty @Required @State">
                <input name="ZipCode" placeHolder="ZipCode" style="width:83px;margin-right: 9px;" type="text" data-constraints="@NotEmpty @Required @ZipCode">
                <input name="Phone" placeHolder="Phone" style="width:121px;" type="text" data-constraints="@NotEmpty @Required @Phone">
              </div>

        <div class="tmTextarea">
          <textarea name="Message" placeHolder="Message:" data-constraints='@NotEmpty @Required @Length(min=20,max=999999)'></textarea>
        </div>
        <div class="ta__right">
          <a href="#" class="btn" data-type="reset">Clear</a>
          <a href="#" class="btn" data-type="submit">Continue</a>
        </div>
      </form>
    </div>
  </div>
</div>
</section>


<script>
$(function (){
  $('#bookingForm').bookingForm({
    ownerEmail: '#'
  });
})
$(function() {
  $('#bookingForm input, #bookingForm textarea').placeholder();
});

</script>
</body>
</html>
