<!DOCTYPE html>
<html lang="en">
<head>
 

  <script>
  $(document).ready(function(){

    $().UItoTop({ easingType: 'easeOutQuart' });
    $('#stuck_container').tmStickUp({});

  });
  </script>
  <!--[if lt IE 9]>
  <div style=' clear: both; text-align:center; position: relative;'>
  <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
  <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
</a>
</div>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">


<![endif]-->
</head>

<body>
 
  <!--=====================
  Content
  ======================-->
  <section class="content">
    <div class="container">
      <div class="row">
        <div class="grid_8">
          <h2>Your Orders</h2>
          <div class="extra_wrapper">
            <img src="images/page3_img1.jpg" alt="" class="img_inner fleft inn__1">
            <div class="text1 tx__1">
              <a href="#">Vivamus at magna non nunc </a>
              <a href="#" class="icon_size pull-right"><i class="fa fa-trash-o"></i></a>
              <select name="Adults" class="qty_input" data-class="tmSelect tmSelect2" data-constraints="">
                <option>1</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <p>Rehoncus. Aliquam nibh antegestas id ictum ado. Praesenterto faucibus maleada faucibusnec laeetert metus id laoreet </p>
          </div>
          <hr class="devider"/>

          <div class="extra_wrapper">
            <img src="images/page3_img1.jpg" alt="" class="img_inner fleft inn__1">
            <div class="text1 tx__1">
              <a href="#">Vivamus at magna non nunc </a>
              <!-- <input name="Quantity" class="qty_input" placeHolder="Quantity" type="text" data-constraints="@NotEmpty @Required @Quantity"> -->
              <a href="#" class="icon_size pull-right"><i class="fa fa-trash-o"></i></a>
              <select name="Adults" class="qty_input" data-class="tmSelect tmSelect2" data-constraints="">
                <option>1</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <p>Rehoncus. Aliquam nibh antegestas id ictum ado. Praesenterto faucibus maleada faucibusnec laeetert metus id laoreet </p>
          </div>
          <hr class="devider"/>

          <div class="extra_wrapper">
            <img src="images/page3_img1.jpg" alt="" class="img_inner fleft inn__1">
            <div class="text1 tx__1">
              <a href="#">Vivamus at magna non nunc </a>
              <a href="#" class="icon_size pull-right"><i class="fa fa-trash-o"></i></a>
              <select name="Adults" class="qty_input" data-class="tmSelect tmSelect2" data-constraints="">
                <option>1</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <p>Rehoncus. Aliquam nibh antegestas id ictum ado. Praesenterto faucibus maleada faucibusnec laeetert metus id laoreet </p>
          </div>
          <hr class="devider"/>

          <div class="extra_wrapper">
            <img src="images/page3_img1.jpg" alt="" class="img_inner fleft inn__1">
            <div class="text1 tx__1">
              <a href="#">Vivamus at magna non nunc </a>
              <a href="#" class="icon_size pull-right"><i class="fa fa-trash-o"></i></a>
              <select name="Adults" class="qty_input" data-class="tmSelect tmSelect2" data-constraints="">
                <option>1</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <p>Rehoncus. Aliquam nibh antegestas id ictum ado. Praesenterto faucibus maleada faucibusnec laeetert metus id laoreet </p>
          </div>
        </div>
        <div class="grid_4">
          <h2>Give your Address and Order</h2>
          <div class="form_title color1">
            We are open 7 days a week - 8 AM to 12 PM <br>+1 101 889 9898</div>
            <form id="bookingForm">
              <div class="tmInput">
                <input name="FirstName" placeHolder="First Name" style="width:176px;margin-right: 9px;" type="text" data-constraints="@NotEmpty @Required @FirstName">
                <input name="LastName" placeHolder="Last Name" style="width:176px;" type="text" data-constraints="@NotEmpty @Required @LastName">
              </div>
              <div class="tmInput">
                <input name="Email" placeHolder="Email" type="text" data-constraints="@NotEmpty @Required @Email">
              </div>
              <div class="tmInput">
                <input name="Address" placeHolder="Address" type="text" data-constraints="@NotEmpty @Required @Address">
              </div>
              <div class="tmInput">
                <input name="Apt" placeHolder="Suite/Apartment" style="width:230px;margin-right: 9px;" type="text" data-constraints="@NotEmpty @Required @Apartments">
                <input name="City" placeHolder="City" style="width:122px;" type="text" data-constraints="@NotEmpty @Required @City">
              </div>
              <div class="tmInput">
                <input name="State" placeHolder="State" style="width:135px;margin-right: 9px;" type="text" data-constraints="@NotEmpty @Required @State">
                <input name="ZipCode" placeHolder="ZipCode" style="width:83px;margin-right: 9px;" type="text" data-constraints="@NotEmpty @Required @ZipCode">
                <input name="Phone" placeHolder="Phone" style="width:121px;" type="text" data-constraints="@NotEmpty @Required @Phone">
              </div>

        <div class="tmTextarea">
          <textarea name="Message" placeHolder="Message:" data-constraints='@NotEmpty @Required @Length(min=20,max=999999)'></textarea>
        </div>
        <div class="ta__right">
          <a href="#" class="btn" data-type="reset">Clear</a>
          <a href="#" class="btn" data-type="submit">Continue</a>
        </div>
      </form>
    </div>
  </div>
</div>
</section>
<!--==============================
footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <div class="socials">
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google-plus"></a>
          <a href="#" class="fa fa-pinterest"></a>
        </div>
        <div class="copyright">
          <span class="brand">favoritefoodscatering </span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
$(function (){
  $('#bookingForm').bookingForm({
    ownerEmail: '#'
  });
})
$(function() {
  $('#bookingForm input, #bookingForm textarea').placeholder();
});

</script>
</body>
</html>
