/* Empty. Add your own CSS if you like */
.button:before {
    color: red;
}

.button:after {
    color: red;
}

.my-button,
.my-button:before{
 
 font: 12px/30px Georgia, serif;
 }
.my-button:after{

 font: 12px/30px Georgia, serif;
}
.my-button.button-bala{
 color: #ef473a;
 box-shadow: none;
 border-color: transparent;
 background: none;
 box-shadow: none;
}
.my-item { border-style: none; }
.no-seperator
{
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 0px;
}
.button.add-button{
 width:60px;
 border-radius: 4px;
 position:absolute;
 right:10px;
 bottom:37px;
}
.button.login-button{
 width:200px;
 height:10px;
 border-radius: 4px;
 position:absolute;
 right:130px;
 top:160px; 
}
.text.login-text{
 width:300px;
 position:absolute;
 right:60px;
}

.col .item-avatar.list-purple {
  --color: #FFF;
  --background-color: #b31f6f;  
  border-bottom:none;
  border-top:none;
  border-left:none;
  border-right:none;
}

.col .item-avatar.list-top {
  --color: #FFF;
  --background-color: #b31f6f;  
  border-bottom:none;
  border-top:1px solid grey;
  border-left:none;
  border-right:none;
}


.row.row-bottom {
border-bottom: 1px solid grey;
}

.row .row-total {
border-color: red;
}
.myfont{
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}

